.cntr-align {
    text-align: center;
    vertical-align: middle !important;
}

.cntr-align div {
    display: inline-block;
}

.bttm-align {
    text-align: center;
    vertical-align: bottom !important;
}

.bttm-align div {
    display: inline-block;
}

.rating-number {
    font-size: 2rem;
    font-weight: 700;
}

.limited-text {
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tr-features{
    display: none;
    background: #ffffff;
}

.td-features{
    border-right: hidden !important;
}

.buy-btn{
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
}

.amazon-img{
    max-width: 70%;
}

.sales-rank-span{
    position: absolute;
    top: 0;
    left: 0;
    background: #cececea3;
    padding: 0 3px;
    font-weight: 700;
}

.product-col{
    position: relative;
}

.tr-product{
    background: #ffffff;
    border-top: 20px solid #f8f9fa;
}